fileEncryptionProgramRequirements


Program 0: Random password generator (textFile to be read by armanet from server at startup and then sent to client)

Program 1: Mission Encryptor
	
	Input: Folder, Password, Number Skew
	Output: Replaces each file in folder with encrypted version and calls to unskew and decrypt to run the code properly on execvm or call etc

Program 2: Text Encryptor

	GUI application with input textboxes for password, number skew, and code
	plus output boxes in 3 different formats 